@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row-glass d-md-none">
            <span class="text-info fw-bold ps-3">STADIUM CORE</span>
        </div>

        <article class="content-viewport">
            @Body
        </article>
    </main>
</div>